@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">FLAT WORLD CONNECT</h4>
    Flatworld Solutions has over 18,000+ global customers, 18 years of experience, and global delivery
    centers in over 10 countries. We are a pioneering organization delivering highly scalable solutions.
    We have worked with leading Fortune 1000 companies across the globe delivering an optimal blend of people, 
    process, and technology.<br />
    <br />
    <br/>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  

    <img src="~/img/logo.png" width="130" height="45" />
    </div>