@model FWS.Models.ProjectManager
<form method="post">
    <div class="row p-3 mt-4">
        <h4 class="text-primary">EDIT Project Manager</h4>
        <hr />
    </div>
    @*     <div asp-validation-summary="All"></div>*@
    <div class="mb-3">
        <label asp-for="ManagerName"></label>
        <input asp-for="ManagerName" class="form-control" />
        <span asp-validation-for="ManagerName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="pmEmail"></label>
        <input asp-for="pmEmail" class="form-control" />
        <span asp-validation-for="pmEmail" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="pmPhone"></label>
        <input asp-for="pmPhone" class="form-control" />
        <span asp-validation-for="pmPhone" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="pmAddress"></label>
        <input asp-for="pmAddress" class="form-control" />
        <span asp-validation-for="pmAddress" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="pmPinCode"></label>
        <input asp-for="pmPinCode" class="form-control" />
        <span asp-validation-for="pmPinCode" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="pmPassword"></label>
        <input asp-for="pmPassword" class="form-control" />
        <span asp-validation-for="pmPassword" class="text-danger"></span>
    </div>
    
    <button tye="submit" class="btn btn-primary" style="width:150px">Update</button>
    <a asp-controller="ProjectManager" asp-action="Index" class="btn btn-secondary" style="width:150px">
        Back To List
    </a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }